.sectionSearch {
  max-width: 1140px;
  margin: 40px auto;
  height: 111px;

  h1 {
    font-size: 32px;
    font-weight: bold;

    color: var(--dark-smoke);

    margin-bottom: 16px;
  }
  h3 {
    font-size: 16px;
    font-weight: bold;

    color: var(--dark-smoke);

    margin-bottom: 8px;
  }

  
}
